<ng-container *ngIf="user">
  <nb-card>
    <nb-card-body  class="d-flex flex-column flex-wrap align-items-center">
      <img [src]="user.avatar || 'assets/images/kitten-corporate.png'" class="avatar">
      <h3 class="mt-1">{{user.fullName}}</h3>
      <p class="m-0">{{user.userRole}}</p>
      <small class="pt-2 text-secondary w-50 text-center">{{user.bio}}</small>
    </nb-card-body>
  </nb-card>
  <div class="row">
    <div class="col-4">
      <nb-card>
        <nb-card-body>
          <table>
            <tr>
              <th>Status:</th>
              <td
                class="pl-3 pr-0 font-weight-bold"
                [class]="user.status === 1 ? 'highlight-active' : 'highlight-inactive'">
                {{user.status === 1 ? 'ACTIVE' : 'INACTIVE'}}
                <button nbButton ghost shape="round" class="ml-2" (click)="openChangeUserStatusDialog(changeUserStatusDialog)">
                  <nb-icon nbTooltip="INACTIVE" *ngIf="user.status === 1" icon="person-delete-outline" status="danger"></nb-icon>
                  <nb-icon nbTooltip="ACTIVE" *ngIf="user.status !== 1" icon="person-done-outline" status="success"></nb-icon>
                </button>
              </td>
            </tr>
            <tr>
              <th>Email:</th>
              <td class="p-2 pl-3 pr-0">{{user.email}}</td>
            </tr>
            <tr>
              <th>Address:</th>
              <td class="p-2 pl-3 pr-0">{{user.address}}</td>
            </tr>
            <tr>
              <th>Birthday:</th>
              <td class="p-2 pl-3 pr-0">{{user.birthDate | date}}</td>
            </tr>
            <tr>
              <th>Gender:</th>
              <td class="p-2 pl-3 pr-0">{{user.gender}}</td>
            </tr>
            <tr>
              <th>Phone:</th>
              <td class="p-2 pl-3 pr-0">{{user.phone}}</td>
            </tr>
            <tr>
              <th>Rank:</th>
              <td class="p-2 pl-3 pr-0">{{user.rank}}</td>
            </tr>
          </table>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-8">
      <nb-card >
        <nb-card-body>
          <table>
            <tr>
              <th>Balance:</th>
              <td class="p-2 pl-3 pr-0">{{user.balance | currency:'VND'}}</td>
            </tr>
            <tr *ngIf="user.userRole === 'COLLABORATOR'">
              <th>Income per hour:</th>
              <td class="p-2 pl-3 pr-0">{{user.pricePerHour | currency:'VND'}}</td>
            </tr>
          </table>
          <chart
            *ngIf="user.userRole !== 'ADMIN' && graph.data.datasets[0].data"
            [type]="graph.type"
            [data]="graph.data"
            [options]="graph.options"></chart>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</ng-container>

<ng-template #changeUserStatusDialog let-ref="dialogRef" let-data>
  <nb-card accent="danger">
    <nb-card-header>
      Are you sure want to {{data}} this user ?
    </nb-card-header>
    <nb-card-footer class="d-flex justify-content-center">
      <button nbButton (click)="ref.close()" class="mr-2">No</button>
      <button nbButton status="danger" (click)="changeUserStatus()">Yes</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
